* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.tourism,
.products,
.sign-up {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.tourism {
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: IRANSans;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
}
.tourism > p {
  color: #ffffff;
  font-size: 32px;
  margin-top: 8px;
}
.tourism-box {
  margin-top: 32px;
}
.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}
.products h1 {
  color: #fff;
  font-size: 24px;
  font-family: IRANSans;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
