@font-face {
  font-family: "IRANSans";
  src: local("IRANSans"), url(./fonts/IRANSans.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: IRANSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
